header {
    display: flex;
}

.inline li {
    display: inline;
    margin-right: 20px;
    margin-bottom: 2px;
}

#header_wrap a {
    color: #212121;
}

#header_wrap {
    background:rgb(224, 102, 102);
}

#main_content {
    line-height: 1.8em;
}

#main_content h1 {
    margin-bottom: 5px;
}

#main_content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}
